 
            <div class="container-fluid" id="footer">
                <p class="footerText">2024 © Rarrrres FPV - All rights reserved</p>
          
                  <div class="social">
                     <a href="https://www.facebook.com/"><img src="https://raw.githubusercontent.com/ttt8605/Rarresfpv/6d1200f9cd9b2cbb04d04ad431bdd3b96e87de7b/poze/facebook.svg" alt="" class="media"></a> 
                     <a href="https://www.instagram.com/"><img src="https://raw.githubusercontent.com/ttt8605/Rarresfpv/6d1200f9cd9b2cbb04d04ad431bdd3b96e87de7b/poze/instagram.svg" alt="" class="media"></a>
                     <a href="https://www.linkedin.com/"><img src="https://raw.githubusercontent.com/ttt8605/Rarresfpv/6d1200f9cd9b2cbb04d04ad431bdd3b96e87de7b/poze/in.svg" alt="" class="media"></a>
                     <a href="https://www.youtube.com/"><img src="https://raw.githubusercontent.com/ttt8605/Rarresfpv/6d1200f9cd9b2cbb04d04ad431bdd3b96e87de7b/poze/youtube.svg" alt="" class="media"></a>
                  </div>
             </div>