 <div id="desktop">
            <div class="container-fluid" id="footer">
                 <div class="UpperPart">
                      <h3 class="titleFooter">RaresFPV</h3>
                      <a class="NiceLink" href="https://linktr.ee/sparkstudio_uxui">made by // @sparkstudio &rarr;</a>


                 </div>


                 <div class="LowerPart">
     
          
                  <div class="social">
                     <a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
                     <a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
                     <a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1719834969/poze%20site/tik_tok_bfo8ye.svg" alt="" id="media" class="media"></a>
                    
                  </div>
                  <div class="Rights">
                  <p class="footerText">2025 © RaresFPV - All rights reserved</p>
               </div>
                 </div>
           
             </div>
            
            
            </div>


 <div id="mobile">
   <div class="container-fluid" id="footer2">
     <div class="leftSectionFooter">
      <div>
      <h3 class="titleFooter">RaresFPV</h3>
   </div>
   <div>
      <a class="NiceLink" href="https://linktr.ee/sparkstudio_uxui">made by // @sparkstudio &rarr;</a>
      <p class="footerText">2025 © RaresFPV - All rights reserved</p>
   </div>
      </div>
    <div class="rigthSectionFooter">
      <a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
      <a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
      <a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1719834969/poze%20site/tik_tok_bfo8ye.svg" alt="" id="media" class="media"></a>
     
    </div>



   </div>


</div>           