<header>          
    <% if(!currentUser){ %>
  <nav class="navbar navbar-expand-md" id="meniu1">
    <div class="container-fluid">
      <a class="navbar-brand" id="title" href="/projects">Rarrrres FPV</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="hyperlinks">
        <div class="navbar-nav">
          <%if(!currentUser){ %>
            <a class="nav-link active" id="hl" aria-current="page" href="/login">Login</a>
              <a class="nav-link active" id="hl" aria-current="page" href="/register">Register</a>
            <% }else{ %>
              <a class="nav-link active" id="hl" aria-current="page" href="/logout">Logout</a>
              <a class="nav-link active" id="hl" name="addDrone" aria-current="page" href="/drones/new">Add Dr</a>
              <a class="nav-link active" id="hl" name="addProject" aria-current="page" href="/projects/new">Add Pr</a>
            <% } %>
          <a class="nav-link active" id="hl" aria-current="page" name="Drone" href="/drones">Drones</a>
          <a class="nav-link active" id="hl" href="/projects">Home</a>
          <a class="nav-link active" id="hl"  href="/services">Services</a>
          <%if(!currentUser){ %>
          <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact">Contact me</a></button>
          <% }else{ %>
            <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact/all">Contact me</a></button>
            <% } %>
        </div>
      </div>
    </div> 
  </nav>

    <!-- mobile menu -->
    <nav class="navbar  fixed-top" id="meniu2">
      <div class="container-fluid" id="noughty-div" >
        <a class="navbar-brand" id="title" href="/projects">Rarrrres FPV</a>
        <button class="navbar-toggler" id="toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <img class="burger" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717484492/poze%20site/menu_24dp_FILL0_wght400_GRAD0_opsz24_sxp5if.png" alt="">
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
         <div class="offcanvas-body">
           
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <%if(!currentUser){ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/register">Register</a>
              </li>
              <% }else{ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page"name="addDrone" id="fastlinksMobile" href="/drones/new">Add Dr</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/services/new">Add Se</a>
</li>
  <li class="nav-item">
                <a class="nav-link active" aria-current="page" name="addProject" id="fastlinksMobile" href="/projects/new">Add Pr</a>
             </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" name="Drone" id="fastlinksMobile" href="/drones">Drones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects" id="fastlinksMobile">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services" id="fastlinksMobile">Services</a>
              </li>
              <% if(!currentUser){ %>
              <li class="nav-item">
                <a class="nav-link" href="/contact" name="contact" id="fastlinksMobile">Contact</a>
              </li>
              <% }else{ %>
                <li class="nav-item">
                  <a class="nav-link" href="/contact/all" name="contact" id="fastlinksMobile">Contact</a>
                </li>
              <% } %>
          </div>
        </div>
      </div>
    </nav>
  
  </header>
  <% }else{ %>

  <!-- mobile menu -->
  <nav class="navbar  fixed-top" id="meniuLog">
    <div class="container-fluid" id="noughty-div" >
      <a class="navbar-brand" id="title" href="/projects">Rarrrres FPV</a>
      <button class="navbar-toggler" id="toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <img class="burger" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717484492/poze%20site/menu_24dp_FILL0_wght400_GRAD0_opsz24_sxp5if.png" alt="">
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
       <div class="offcanvas-body">
         
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/register">Register</a>
            </li>
            <% }else{ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page"name="addDrone" id="fastlinksMobile" href="/drones/new">Add Dr</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/services/new">Add Se</a>
</li>
  <li class="nav-item">
                <a class="nav-link active" aria-current="page" name="addProject" id="fastlinksMobile" href="/projects/new">Add Pr</a>
             </li>

              <% } %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" name="Drone" id="fastlinksMobile" href="/drones">Drones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects" id="fastlinksMobile">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services" id="fastlinksMobile">Services</a>
            </li>
            
            <% if(!currentUser){ %>
              <li class="nav-item">
                <a class="nav-link" href="/contact" name="contact" id="fastlinksMobile">Contact</a>
              </li>
              <% }else{ %>
                <li class="nav-item">
                  <a class="nav-link" href="/contact/all" name="contact" id="fastlinksMobile">Contact</a>
                </li>
              <% } %>
        </div>
      </div>
    </div>
  </nav>

</header>
<% } %>
