<head>
    <link rel="stylesheet" href="/stylesheets/new-edit.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
  </head>
<% layout('/layouts/boilerplate') %>

    

<div class="row">
    <div class="content" >
        <!-- <img  class="numbers" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717481037/poze%20site/4_va1cv3.svg" alt="">
        <img class="drawing" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717481808/poze%20site/Untitled_Artwork_1_1_cvuulz.svg" alt="">
        <img class="numbers"src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717481037/poze%20site/4_va1cv3.svg" alt=""> -->
       <img class="test" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717483044/poze%20site/Group_31_qowk9f.svg" alt="">
        <div class="text">
         <h4 class="err-message">Looks like this page doesn’t exist!</h4>
         <a class="link-underline-secondary link-offset-3" href="/projects"><h5 class="err-link">Go back home and continue exploring. &rarr;</h5></a>
         </div>
    </div>
</div>
