@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


body {
  background-color: #252525;
}

body {
    margin-top: 0; /* Reset default margin */
    padding-top: 0; /* Reset default padding */
}

main{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 120px;
}

header{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     /* margin-top: 20px; */
     position: relative;
     background-color: #373737 ;
     width: 100%;
     height: 100vh;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
}

.offcanvas-body{
    margin-top: 50px;
    background-color: #373737;
}

.nav-item{
    margin-top: 20px;
}


.offcanvas-body{
    margin-top: 50px;
    background-color: #212529;
 }

/* menu queries */
#meniu1{
    display: block;
    width: 100%;
}

#description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    height: 68%;
} 

#meniu2{
    display: none;
}

.media{
     margin-left: 20px;
     color: #3A8AC3;
}

#fastLinks{
     text-decoration: none;
     color: #373737;
     font-family: 'Roboto',sans-serif;
     font-weight: 300;
     font-size:17px;
     width: 80px;
}



.title1{
    color:#f2f2f2
}

.title2{
    color: #3A8AC3;
    position: relative;
    right: 13px;
}

.profile{
    height: 310px;
    width: 310px;
    margin-top: 8px; 
    margin-left: 60px;
    opacity: 0;
    transform: translateX(25px); /* Start slightly above */
    transition: opacity 2s, transform 1.5s; /* Apply transition */
    order:2;
}


.profile.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}

.profileText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #f2f2f2;
    width: 470px;
    margin-top: 88px;
    opacity: 0;
    transform: translateX(-25px); /* Start slightly above */
    transition: opacity 2s, transform 1.5s; /* Apply transition */
    order:1;
}

.profileText.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}

.span2{
    font-family: 'Roboto',sans-serif;
    font-weight: 500; /* de la 400 la 500 */
    font-size: 34px;
    color: #3A8AC3;
    word-spacing: 1px;
    margin-top: 30px;
}

.descriptionSection {
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 16 / 9; /* Maintain aspect ratio */
    max-height: 506px;
    margin-top: 0px;
    padding: 0px;
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 2s, transform 1.5s; /* Apply transition */
}
.imgDescriptionSection{
    width: 100%;
}

.descriptionSection.in-view {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
}

.container-xxl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    max-height: 200px; 
    height: 100%;
    margin-top: 50px;
}

.AboutMeImg{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #3A8AC3;

}

.ParagraphImg{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #f2f2f2;
    width: 70%;
    letter-spacing: 0.5px;
}

.projectIntro{
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    position: relative;
    left: -35px;
    /* margin-left: 10px; */
}

.projectIntro {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 2s, transform 2s; /* Apply transition */
}

.projectIntro.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}


.projectTitle{
    margin-top: 15px;
    color: #3A8AC3;
    font-size: 2.4em;
}


#Ylink:hover{
  opacity: 0.7;
}


.twoImgRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
}

.img1 {
    width: 100%;
    height: 455px;
    margin-top: 70px;
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 2s, transform 2s; /* Apply transition */
    position: relative; /* Ensure the top property works correctly */
}

.img1.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}

.img1:hover {
    top: 2px; /* Slightly move up on hover */
    transition: top 0.2s; /* Apply a quick transition for the hover effect */
}

  .picture1{
    border-radius: 20px;
    width: 100%; /* Set the width you desire */
    height: 460px; /* Set the height you desire */
    object-fit: cover; /* Maintain aspect ratio */
  }

  .imagesLink1{
    height: 460px;
    text-decoration: none;
  }

  .img1Text{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #f2f2f2;
    position: relative;
    width: 150px;
    margin-left: 50px;
}

.img1Button{
    font-family: 'Roboto',sans-serif;
    color: #f2f2f2;
    background-color: transparent;
    border-style: none;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    margin-right: 50px;
    bottom: 14px;
    transition: transform 0.3s ease-in-out;
}

.img1:hover .img1Button {
    animation: spin 0.5s linear ;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.img2{
    
    width: 600px;
   height: 460px;
    margin-top: 80px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .img2 {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 2s, transform 2s; /* Apply transition */
}

.img2.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}
  
  .img2:hover {
    top: 2px;
  }


  .imagesLink{
    height: 400px;
    text-decoration: none;
  }

  .picture{
  border-radius: 20px;
  width: 600px; /* Set the width you desire */
  height: 460px; /* Set the height you desire */
  object-fit: cover; /* Maintain aspect ratio */
}
  
  .img2:first-child{
   margin-right: 5px;
}

.textAndButton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: 60px;
}

.textAndButton1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 55px;
}
  .img2Button{
    font-family: 'Roboto',sans-serif;
    color: #f2f2f2;
    background-color: transparent;
    border-style: none;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    bottom: 8px;
    transition: transform 0.3s ease-in-out;
}

.img2:hover .img2Button {
    animation: spin 0.5s linear ;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.img2Text{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #f2f2f2;
    position: relative;
    width: 70%;
}

.AddMoreButton{
    border-style: none;
    background-color: #3A8AC3;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: #f2f2f2;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
}

.AddMoreButton:hover{
    background-color: #3a8ac3c2;
    top: 2px;
}

  .AddMoreSection{
    width: 90%;
    max-height: 0; /* Initially hide the section */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 1s ease; /* Add transition for smooth animation */
}

.visibleImages{
    width: 90%;
}

.smallSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.letsWork {
    margin-top: 130px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    position: relative;
    left: -35px;
    margin-bottom: 150px;
}

.letsWork {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 2s, transform 2s; /* Apply transition */
}

.letsWork.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}

.proposal {
    font-family:'Russo One';
    margin-top: 15px;
    color: #3A8AC3;
    font-size: 2.5em;
}

.contact-link{
    margin-top: 10px;
    border-style: none;
    background-color: #FFD166;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#contactButton{
    color:#252525 !important;
    text-decoration: none !important;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size:larger;
}

.contact-link:hover{
   background-color: #ffd166cb !important;
   top: 2px;
}




/* ---- MEDIA QUERIES ---- */
@media(min-width: 1400px){
    .ParagraphImg{
        font-size: 20px;
    }
}

@media(max-width: 1230px){
    /* .img2{
        width: 500px;
        height: 450px;
    } */

    .projectIntro {
      position: relative;
      left: -5px;
    }

    .letsWork {
        position: relative;
        left: -5px;
    }
}

@media(max-width: 1222px) {
    .profileText{
        font-size: 22px;
    }

    .profile {
    height: 240px;
    width: 240px;
    margin-right: 0px;
    }

    .span2{
        font-size: 32px;
    }

    .profileText{
        margin-top: 62px;
    }
    .descriptionSection{
        max-height: 425px;
    }
    .container-xxl{
        padding-left: 50px;
        padding-right: 50px;
    }
    .projectIntro{
        margin-top: 30px;
    }
    .ParagraphImg{
        font-size: 16px;
    }
}


@media(max-width: 991px) {
  /* .profile{
    height: 200px;
    width: 200px;
  } */

  .profileText{
    font-size: 18px;
  }

  #title{
    position:relative;
    left: 60px;
 }

 .descriptionSection{
    max-height: 422px;
}

.container-xxl{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    max-height: 600px;
    height: 100%;
}
.span2{
    font-size: 28px;
}
.AboutMeImg{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.ParagraphImg{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3A8AC3;
    width: 77%;
}
}


@media(max-width:915px){
    #meniu1{
        display: none;
    }
    
    #meniu2{               
         display: block;
         border-bottom-left-radius: 20px;
         border-bottom-right-radius: 20px;
     }

     #toggle {
        margin-top: 10px;
        margin-right: 15px;
        background-color: #f2f2f2;
    }

    #closeBtn {
      background-color: #f2f2f2;
    }
    
     .container-fluid{
        background-color: none ;
        width: 100%;
        height: 90px;
     }

     #title {
        font-size: 45px;
        position: relative;
        left: 47px;
        top: 8px;
    }

    .profile{
        margin-left: 0px;
        order:1;
    }
    

    .profileText{
        font-size: 17px;
        width: 500px;
        margin-top: 30px; 
        position: relative; 
        left: 0px;
        text-align: center;
        margin-right: 0px;
        order:2;
    }

    #description{
        flex-direction: column;
        margin-top: 100px;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media(max-width:767px){
     #closeBtn {
       background-color: #FFD166;
     }
 
     #list {
         background-color: #373737;
     }

     #contactButton{
        font-size: large;
     }

     .img1Text{
        font-size: 17px;
     }
 }


@media(max-width:674px){
    .fastLinks{
         font-size: 13px;
    }
    
    #title {
        font-size: 35px;
        position: relative;
        left: 25px;
        top: 4px;
    }

    .title2{

        right: 10px;
    }
    
    header{
        height: 550px;
    }
    
    .profile{
        height: 240px;
         width: 240px;
    }

    .profileText{
        font-size: 15px;
    }

    .span2{
        font-size: 20px; 
    }

  .img2:first-child{
    margin-right: 0px;
  }

    .img2Button{
         width:83px ;
    }

    .projectIntro{
        margin-top: 70px;
        position: relative;
        left: 10px;
        display: flex;
        /* justify-content: start;
        align-items: center; */
        flex-direction: row;
        width: 90%;
    }
    
    .projectTitle{
        font-size: 30px;
    }

    #letsWork{
        margin-top: 70px;
        position: relative;
        left: 10px;
    }

    .proposal{
        font-size: 2.2em; /* de la 2em la 2.2em */
     }

    #contactButton{
        font-size: large;
     }

    #Ylink{
        font-size: 15px;
    }
    
  .picture{
    width: 500px;
    height: 375px;
  }

  .textAndButton {
    width: 500px;
    bottom: 178px;
}
    
.img2{
    display: flex;
    justify-content: center;
}

    .img2Button{
        top: 110px;
    }

    .img2Text{
        top: 121px;
        font-size: 17px;
        margin-left: 27px;
    }
 
     .AddMoreButton{
        width: 125px;
        height: 40px;
        margin-top: 17px;
     }
}


@media(max-width: 570px) {
    .img1{
        margin-top: 0px;
    }

     .img1Text{
        margin-left: 30px;
     }

     .img1Button{
        margin-right:27px ;
     }

     .picture1{
        height: 400px;
     }

     .imagesLink1{
        height: 400px;
     }

     .img2{
        margin-top: 0px;
        height: 400px;
     }

     .picture{
        width: 450px;
        height:317px ;
     }

     .imagesLink{
        height: 317px;
     }

     .textAndButton{
        width: 450px;
     }
    }


@media(max-width: 500px){
    .profileText{
        width: 370px;
        font-size: 14px;
    }

    .projectTitle{
        font-size: 25px;
    }

.letsWork{
    left: -12px;
    margin-top: 70px;
}

    .proposal{
        font-size: 2em; /* de la 1.9em la 2em */
     }

     .img1{
        margin-top: 0px;
        height: 350px;
    }

     .img1Text{
        margin-left: 30px;
     }

     .img1Button{
        margin-right:27px ;
     }
     
     .imagesLink1{
        height: 350px;
     }

     .picture1{
        height: 350px;
     }

     .img2{
        margin-top: 0px;
        height: 350px;
     }

     .picture{
        width: 400px;
        height:287px ;
     }

     .imagesLink{
        height: 287px;
     }

     .textAndButton{
        width: 400px;
     }
}


@media(max-width:450px){
    #meniu2{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    } 

    header{
        height: 500px;
    }

    .container-fluid{
        height: 87px;
    }

    #title{
        font-size: 30px;
    }
    .title2{

        right: 8px;
    }

    .fastLinks{
         margin-right: 13px;
         font-size: 12px;
    }

     .profile{
         margin-top: 17px;
         height: 180px;   
     }

     .profileText {
         font-size: 13px;
         width: 297px;
         margin-top: 0px;
         text-align: center;
     }

     .span2{    
        font-size: 19px;
    }

     .projectIntro{
        position: relative;
        left: 17px;
    }
    
    .projectTitle{
        font-size: 21px;
    }

    #Ylink {
        font-size: 13px;
    }

    #letsWork{
        margin-top: 70px;
        position: relative;
        left: 17px;
    }

    .proposal{
        font-size: 1.8em; /* de la 1.5em la 1.8em */
     }
     
     .letsWork{
        left: -12px;
        margin-top: 70px;
        margin-bottom: 100px;
    }

    .twoImgRow{
        margin-top: 30px;
    }

         .img1{
            margin-top: 0px;
            height: 350px;
        }

         .img1Text{
          
            margin-left: 30px;
         }

         .textAndButton1{
            bottom: 55px;
         }

         .img1Button{
            margin-right:27px ;
            bottom: 13px;
         }

         .imagesLink1{
            height: 300px;
         }

         .picture1{
            height: 300px;
         }

         .img2{
            margin-top: 0px;
            height: 300px;
         }

         .img2Text{
            top: 140px;
         }

         .img2Button{
            top: 128px;
         }

         .picture{
            width: 350px;
            height:250px ;
         }

         .imagesLink{
            height: 250px;
         }

         .textAndButton{
            width: 350px;
         }
}


@media(max-width:400px){
         .img1{
            margin-top: 0px;
            height: 300px;
        }  

         .img1Text{
            margin-left: 30px;
         }

         .textAndButton1{
            bottom: 55px;
         }

         .img1Button{
            margin-right:27px ;
            bottom: 13px;
         }

         .imagesLink1{
            height: 250px;
         }

         .picture1{
            height: 250px;
         }

         .img2{
            margin-top: 0px;
            height: 250px;
         }

         .img2Text{
            top: 140px;
         }

         .img2Button{
            top: 128px;
         }

         .picture{
            width: 300px;
            height:200px ;
         }

         .imagesLink{
            height: 200px;
         }

         .textAndButton{
            width: 300px;
         }
}


/* ---- FOOTER ---- */
/* ---- FOOTER ---- */
#footer{
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #373737;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
   
}
#mobile{
    display: none;
  }
  #desktop{
    display: block;
  }
.media{
    width: 30px;
    height: 30px;
}

.footerText{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(217, 217, 217, 0.5);
}

   .social{
    width: 286px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:10px ;
   }


.UpperPart{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleFooter{
    color: #F2F2F2;
    /* width: 235px; */
    text-align: center;
    padding-bottom: 10px;
    font-family:'Russo One';
    font-weight: 400;
    font-size: 40px;
}


.NiceLink{
     
         font-family:'Roboto', sans-serif;
         font-weight: 500;
         font-size: medium;
         color: #f2f2f2 !important;
         opacity:0.7;
         margin-bottom: 15px;
      
     
}

.NiceLink:hover{
    color:#ffffff !important ;
    opacity: 1;
}

  p{
   margin-top: 0;
   margin-bottom: 0rem;  
  }

  @media(max-width:1024px){
    .social{
        width: 280px;
    }
    }



    
    @media(max-width:911px){
   
    
         .container-fluid{
            width: 100%;
            height: 90px;
         }
    
    
        .social{
          width: 280px;
        }
    }

    @media (max-width:800px){
        .descriptionSection{
            max-height: 600px;
            margin-top: 50px;
            padding: 40px;
            height: 600px;
        }
        
        .container-xxl{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: inherit;
            max-height: 600px;
            height: 100%;
        }
        
        .AboutMeImg{
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 25px;
            color: #f2f2f2;
       
        }
        
        .ParagraphImg{
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #f2f2f2;
            width: 80%;
            text-align: center;
            margin-left: 10%;
        }
    }
    @media(max-width:767px){
        .social{
           width: 280px;
        }
    }


    @media(max-width:674px){
      #mobile{
        display: block;
      }
      #desktop{
        display: none;
      }

      #footer2{
        display: flex;
        width: 100%;
        height: 180px;
        background-color: #373737;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        margin-top: 120px;
       
    }
    .titleFooter{
        color: #F2F2F2;
        /* width: 235px; */
        text-align:start;
        padding-bottom: 10px;
        font-family:'Russo One';
        font-weight: 300;
        font-size: 34px;
    
    }
    .rigthSectionFooter{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:center ;
        height: 83%;
    }
    .leftSectionFooter{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 83%;
    }
    .media{
        width: 26px;
        height: 26px;
    }
       

    }
    @media(max-width:610px){
        .descriptionSection{
            max-height: 600px;
            margin-top: 50px;
            padding: 30px;
            height: 587px;
        }
        
        .container-xxl{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: inherit;
            max-height: 600px;
            height: 100%;
        }
        
        .AboutMeImg{
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 25px;
            color: #f2f2f2;
       
        }
        
        .ParagraphImg{
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #f2f2f2;
            width: 100%;
            text-align: center;
            margin-left: 0px;
        }
    }
    

    @media(max-width: 450px){
        .descriptionSection{
            max-height: 600px;
            margin-top: 50px;
            padding: 30px;
            height: 587px;
        }
        
        .container-xxl{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: inherit;
            max-height: 600px;
            height: 100%;
        }
        
        .AboutMeImg{
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 25px;
            color: #f2f2f2;
       
        }
        
        .ParagraphImg{
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            font-size: 14px;
            color: #f2f2f2;
            width: 100%;
            text-align: center;
            margin-left: 0px;
        }
    }
        @media(max-width: 400px) {
          

            .descriptionSection{
                max-height: 600px;
                margin-top: 50px;
                padding: 20px;
                height: 587px;
            }
            
            .container-xxl{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: inherit;
                max-height: 600px;
                height: 100%;
            }
            
            .AboutMeImg{
                font-family: 'Roboto',sans-serif;
                font-weight: 400;
                font-size: 23px;
                color: #f2f2f2;
                margin-top: 20px;
           
            }
            
            .ParagraphImg{
                font-family: 'Roboto',sans-serif;
                font-weight: 300;
                font-size: 14px;
                color: #f2f2f2;
                width: 100%;
                text-align: center;
                margin-left: 0px;
            }

    .titleFooter{
        color: #F2F2F2;
        /* width: 235px; */
        text-align:start;
        padding-bottom: 10px;
        font-family:'Russo One';
        font-weight: 300;
        font-size: 26px;

    }
    .NiceLink{
        font-weight: 400;
        font-size: 15px;
    }
    .footerText{
        font-size: 14px;
    }
    .rigthSectionFooter{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:center ;
        height: 83%;
    }
    .media{
        width: 26px;
        height: 26px;
    }
        }



