@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-color: #252525;
  margin-top: 0;
  padding-top: 0;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #252525;
  width: 100%;
  height: 131px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.offcanvas-body{
    margin-top: 50px;
    background-color: #212529;
 }
 
 .nav-item{
    margin-top: 20px;
 }
 
 
 /* menu queries */
 #meniu1{
    display: block;
    width: 100%;
    padding: 0;
    background-color: #252522;
 }
 .container-fluid{
    padding: 0;
 }
 
 #meniu2{
     display: none;
 }

.rigthSide{
    background-color: #373737;
    width: 50%;
}

.leftSide{
    width: 50%;
}

main{
   max-width: 100% !important;
   display: flex;
   flex-direction: column;
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    bottom: 31px;
}
.empty{
    bottom: 0px;
    height: 100%;
}
.colored{
    background-color: #373737;
    height: 300px;
    width: 50%;
    box-shadow: 0 -40px 0px #373737;
}

.SmallScreens{
    display: none;
}

/* leftSide */
.leftDiv{
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
   padding-left: 120px;

}

.editDelete{
    display: flex;
    flex-direction: row;
}
.edit{
    margin-right: 5px;
}

.ServiceName{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Russo One';
    font-weight: 500;
    font-size:30px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 10px;
    display: inline-block;
    padding-bottom: 4px;
    z-index: 1;

}
.ServiceName:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
    width: 100%; /* Adjust the width to your preference */
    height: 20px; /* Adjust the height based on the size of the border */
    background-color: #373737;
    border-radius: 20px ; /* Creates the curved effect */
   z-index: -1;
  
}
.ServiceDescription{
    width: 600px;
    margin-bottom: 50px;
}
.Description-Buttons{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
}
.ServiceDescriptionTitle{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Russo One';
    font-weight: 500;
    font-size:25px;
    margin-bottom: 20px;
}
.ServiceDescriptionTitleDiv{
   display: flex;
   width: 600px;
   justify-content: space-between;
}
.ServiceDescription{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Roboto';
    font-weight: 400;
    font-size:17px;
    width: 600px;
}

/* rigthSide */
.rigthDiv{
    width: 50%;
    background-color: #373737;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 66px;
}


.carousel-inner{
    border-radius: 20px;
    width: 600px;
}
.w-100{
    border-radius: 20px;
    width: 600px !important ; /* Set the width you desire */
    height: 334px; /* Set the height you desire */
    object-fit: cover; /* Maintain aspect ratio */
}


.beforeCarousel{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 600px;
    position: relative;
    bottom: 105px;
}
.price{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Russo One';
    font-weight: 500;
    font-size:20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-radius: 10px;
   
}
.price2{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Russo One';
    font-weight: 500;
    font-size:20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-radius: 10px;
   
}
.ytLink{
    text-decoration: none;
    color: #f2f2f2;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 9px;
}

.ytLink:hover{
    color: #f2f2f2;
    opacity: 0.7;
}

#footer{
    margin-top: 0px !important;
    border-top-right-radius: 0px !important ;
}
.continut{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* extra big pro max screens */
@media(min-width:2000px){
    .rigthSide{
        
        width: 50%;
    }
    .leftSide{
        width: 50%;
    }
    .container-fluid{
        width: 2000px;
    }
    .carousel-inner{

        width: 700px;
    }
    .w-100{
      
        width: 700px !important ; /* Set the width you desire */
        height: 334px; /* Set the height you desire */
      
    }
.beforeCarousel{
    width: 700px;
}
  }
  
  @media(max-width:1464px){
    .ServiceDescription{
        font-size:17px;
        width: 500px;
    }
    .price{
       
        font-size:17px;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
   
    }
    .ytLink{
        font-size:14px;
    }
    .beforeCarousel {

        padding-top: 10px;
        
    }
   .rigthDiv{
    position: relative;
    bottom:25px ;
   }
    .Description-Buttons{
        width: 500px;
        
    }
    .colored {
     
        box-shadow: 0 -57px 0px #373737;
    }

  }
  @media(max-width:1300px){
    .ServiceDescription{
        font-size:16px;
        width: 470px;
    }
    .Description-Buttons{
        width: 470px;
        
    }
    .price{
       
        font-size:17px;
        padding: 20px;
        padding-left: 25px;
        padding-right: 25px;
   
    }
    .ytLink{
        font-size:13px;
    }
    .beforeCarousel {

        padding-top: 10px;
        width: 500px;
    }
    .rigthDiv{
        padding-top: 0px;
        bottom: 0;
    }
.continut{
    height: 514px ;
}
.carousel-inner{
    border-radius: 20px;
    width: 500px;
}
.w-100{
    border-radius: 20px;
    width: 500px !important ; /* Set the width you desire */
    height: 334px; /* Set the height you desire */
    object-fit: cover; /* Maintain aspect ratio */
}
.beforeCarousel{
    bottom: 80px;
}
  }

  @media(max-width:1220px){


    .Description-Buttons{
        width: 437px;
        
    }
.ServiceDescription{
    width: 437px;
}
.ServiceName{
    font-size: 26px;
}
#hyperlinks{
    margin-left: 60px;
}
#title{
    left: 50px;
}
.leftDiv{
    padding-left: 50px;
}
.ytLink{
    font-family: 'Roboto';
    font-size:12px ;
}
.price{
    font-size: 15px;
    padding: 19px;
    padding-left: 25px;
    padding-right: 25px;
}

.continut{
    height: 400px;
}

.rigthDiv {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-evenly;
}
  }


@media(max-width:1024px){
    #meniu1{
        display: none;
    }

    #naughty-div{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #meniu2{               
         display: block;
         border-bottom-left-radius: 20px;
         border-bottom-right-radius: 20px;
     }

     #toggle {
        margin-top: 10px;
        margin-right: 15px;
        background-color: #f2f2f2;
    }

    #closeBtn {
      background-color: #f2f2f2;
    }


    .bigScreens{
        display: none;
    }
    .empty{
        display: none;
    }
    .SmallScreens{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
    }
    .upperLevel{
        display: flex;
        width: 600px;
    }
   .ServiceName{
    margin-left: 0;
   }
   .carousel-inner{

    width: 600px;
}
.w-100{
  
    width: 600px !important ; /* Set the width you desire */
    height: 334px; /* Set the height you desire */
  
}
.price{
       
    font-size:17px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;

}
.ytLink{
    font-size:13px;
}
.beforeCarousel {

    padding-top: 20px;
    width: 600px;
    margin-bottom: 50px;
    bottom: 0px;
}

.ServiceDescription{
    width: 600px;
    margin-bottom: 50px;
}
.ServiceDescriptionTitle{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Russo One';
    font-weight: 500;
    font-size:30px;
    margin-bottom: 20px;
}
.ServiceDescriptionTitleDiv{
   display: flex;
   width: 600px;
   justify-content: space-between;
}

}

@media(max-width:767px){
    .ServiceName{
       margin-left: 0;
       position: relative;
       }

    #contactButton{
       font-size: large;
    }
    .beforeCarousel {

        padding-top: 30px;
        width: 600px;
        
    }
    
}

@media(max-width:674px){
    .fastLinks{
         font-size: 13px;
    }

    #title {
        font-size: 35px;
        position: relative;
        left: 25px;
        top: 4px;
    }
    .upperLevel{
        width: 460px;
    }
    
    .profile{
         height: 270px;
         width: 270px;
         /* margin-left: 90px; */
    }

    #contactButton{
        font-size: large;
     }
     .carousel-inner{

        width: 460px;
    }
    .w-100{
      
        width: 460px !important ; /* Set the width you desire */
        height: 334px; /* Set the height you desire */
      
    }
    .ServiceName{
        margin-left: 0;
        position: relative;
        left: 16px;
        }
 
        .beforeCarousel {

            padding-top: 30px;
            width: 460px;
            
        }

        .ServiceDescription{
            width: 460px;
            margin-bottom: 50px;
        }
        .ServiceDescriptionTitle{
            text-decoration: none;
            color: #f2f2f2;
            font-family: 'Russo One';
            font-weight: 500;
            font-size:30px;
            margin-bottom: 20px;
        }
        .ServiceDescriptionTitleDiv{
           display: flex;
           width: 460px;
        }
}

@media(max-width:500px){
    .ServiceName{
        margin-left: 0;
        position: relative;
        left: 0;
        }
}

@media(max-width:460px){
    .upperLevel{
        width: 340px;
    }

    #title{
        font-size: 25px;
    }

    .fastLinks{
         margin-right: 13px;
         font-size: 12px;
    }
    .carousel-inner{

        width: 340px;
    }
    .w-100{
      
        width: 340px !important ; /* Set the width you desire */
        height: 334px; /* Set the height you desire */
      
    }
    .ServiceName{
        margin-left: 0;
        position: relative;
        left: 0px;
        font-size: 20px;
        }
        .price{
            font-size: 14px;
            padding: 15px;
            padding-left: 18px;
            padding-right: 18px;
        }
        .price2 {
            font-size: 17px;
            padding: 14px;
            padding-left: 35px;
            padding-right: 35px;
          
        }
        .ytLink{
            font-size: 10px;
        }
 
        .beforeCarousel {

            padding-top: 30px;
            width: 340px;
            
        }

        .ServiceDescription{
            width: 340px;
            margin-bottom: 50px;
        }
        .ServiceDescriptionTitle{
            text-decoration: none;
            color: #f2f2f2;
            font-family: 'Russo One';
            font-weight: 500;
            font-size:25px;
            margin-bottom: 20px;
        }
        .ServiceDescriptionTitleDiv{
           display: flex;
           width: 340px;
           margin-bottom:20px ;
        }
    


}