@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-color: #252525;
  margin-top: 0;
  padding-top: 0;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #252522;
  width: 100%;
  height: 131px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.offcanvas-body{
    margin-top: 50px;
    background-color: #212529;
 }
 
 .nav-item{
    margin-top: 20px;
 }
 
 
 /* menu queries */
 #meniu1{
    display: block;
    width: 100%;
    padding: 0;
    background-color: #252522;
 }
 .container-fluid{
    padding: 0;
 }
 
 #meniu2{
     display: none;
 }

.rigthSide{
    background-color: #373737;
    width: 50%;
}

.leftSide{
    width: 50%;
}

main{
   max-width: 100% !important;
   display: flex;
   flex-direction: column;
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    bottom: 31px;
}
.empty{
    bottom: 0px;
    height: 100%;
}
.colored{
    background-color: #373737;
    height: 200px;
    width: 50%;
    box-shadow: 0 -40px 0px #373737;
}

/* leftSide */
.leftDiv{
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
   padding-left: 120px;

}
.ServiceName{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Russo One';
    font-weight: 500;
    font-size:30px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 100px;
    display: inline-block;
    padding-bottom: 4px;
    z-index: 1;

}
.ServiceName:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
    width: 100%; /* Adjust the width to your preference */
    height: 20px; /* Adjust the height based on the size of the border */
    background-color: #373737;
    border-radius: 20px ; /* Creates the curved effect */
   z-index: -1;
  
}
.ServiceDescription{
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Roboto';
    font-weight: 400;
    font-size:15px;
    width: 600px;
}

/* rigthSide */
.rigthDiv{
    width: 50%;
    background-color: #373737;
    min-height: 500px;
    height: auto;
}


#footer{
    margin-top: 0px !important;
    border-top-right-radius: 0px !important ;
}
/* extra big pro max screens */
@media(min-width:2000px){
    .rigthSide{
        background-color: #252525;
        width: 50%;
    }
    .leftSide{
        width: 50%;
    }
  }
  


@media(max-width:911px){
    #meniu1{
        display: none;
    }

    #naughty-div{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #meniu2{               
         display: block;
         border-bottom-left-radius: 20px;
         border-bottom-right-radius: 20px;
     }

     #toggle {
        margin-top: 10px;
        margin-right: 15px;
        background-color: #f2f2f2;
    }

    #closeBtn {
      background-color: #f2f2f2;
    }

  


}

@media(max-width:767px){
  

    #contactButton{
       font-size: large;
    }
}

@media(max-width:674px){
    .fastLinks{
         font-size: 13px;
    }

    #title {
        font-size: 35px;
        position: relative;
        left: 25px;
        top: 4px;
    }
    
    .profile{
         height: 270px;
         width: 270px;
         /* margin-left: 90px; */
    }

    #contactButton{
        font-size: large;
     }


}



@media(max-width:450px){


    #title{
        font-size: 25px;
    }

    .fastLinks{
         margin-right: 13px;
         font-size: 12px;
    }


}