<head>
  <link rel="stylesheet" href="/stylesheets/new-edit.css">
</head>
<% layout('/layouts/boilerplate') %>


    <div class="row mb-3">
        <h1 class="text-center mb-4">New project</h1>
        <div class="col-10 offset-1 mt-3"> 
<form action="/projects" method="POST" novalidate class="validated-form" enctype="multipart/form-data"  >
    <div class=" mb-3">
     <label for="name" class="form-label text-light">Name of the project</label>
     <input type="text" name="name" id="name" class="form-control" placeholder="projectname" required>
     <div class="valid-feedback">
      Looks good!
     </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
   bsCustomFileInput.init();
 });
   </script>
   <div class="mb-3">
     <div class="form-file custom-file">
         <input type="file" class="form-file-input" id="image" name="image" multiple>
         <label class="form-file-label" for="image">
             <span class="form-file-text custom-file-label">Choose image(s)...</span>
             <span class="form-file-button">Browse</span>
         </label>
     </div>
 </div>
       <div class="mb-3">
        <label class="form-label text-light" for="description">Description</label>
        <textarea class="form-control" name="description" id="description" aria-label="Description" rows="5" maxlength="400" required></textarea>
        <div class="valid-feedback">
          Looks good!
         </div>
      </div>
      <div class="mb-3">
        <label class="text-light" for="drones">Drones used:</label>
        <% for(let drone of drones){ %>
        <div class="form-check form-check-inline" id="drones">
            <input class="form-check-input text-light drone-checkbox" type="checkbox" name="drones[]" id="drone_<%=drone._id%>" value="<%=drone._id %>" >
            <label class="form-check-label text-light" for="inlineCheckbox1"><%=drone.name %></label>
          </div>
          <% } %>
    </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Project</button>
        </div>

</form>


</div>

</div>
