
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Rarrres FPV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/header2.css">
   <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/services.css">
</head>
<body>
  <header>          

<nav class="navbar navbar-expand-md" id="meniu1">
  <div class="container-fluid">
    <a class="navbar-brand" id="title" href="/projects">RaresFPV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hyperlinks">
      <div class="navbar-nav">
        <%if(!currentUser){ %>
            <a class="nav-link active" id="hl" aria-current="page" href="/login">Login</a>
              <a class="nav-link active" id="hl" aria-current="page" href="/register">Register</a>
            <% }else{ %>
              <a class="nav-link active" id="hl" aria-current="page" href="/logout">Logout</a>
            <% } %>
          <a class="nav-link active  " id="hl" aria-current="page" href="/drones">Drones</a>
          <a class="nav-link active" id="hl"  href="/projects">Home</a>
          <a class="nav-link active" id="hl" name="Services" href="/services">Services</a>
          <%if(!currentUser){ %>
          <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact">Contact me</a></button>
          <% }else{ %>
            <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact/all">Contact me</a></button>
            <% } %>
      </div>
    </div>
  </div> 
</nav>

<nav class="navbar  fixed-top" id="meniu2">
  <div class="container-fluid" >
    <a class="navbar-brand" id="title" href="/projects">RaresFPV</a>
    <button class="navbar-toggler" id="toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <img class="burger" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717484492/poze%20site/menu_24dp_FILL0_wght400_GRAD0_opsz24_sxp5if.png" alt="">
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
     <div class="offcanvas-body">
       
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <%if(!currentUser){ %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/register">Register</a>
                </li>
                <% }else{ %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/drones/new">Add Dr</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/services/new">Add Se</a>
</li>
    <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/projects/new">Add Pr</a>
               </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/drones">Drones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/projects" name="Home" id="fastlinksMobile">Home</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link active" id="fastlinksMobile" name="Services" href="/services">Services</a>
                  </li>
               
                <% if(!currentUser){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/contact" id="fastlinksMobile">Contact</a>
                </li>
                <% }else{ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact/all" id="fastlinksMobile">Contact</a>
                  </li>
                <% } %>
    
      </div>
    </div>
  </div>
</nav>

<div class="container" id="description">
  <h3 class="ImageTitle1">Services</h3>
  <img src="https://raw.githubusercontent.com/ttt8605/Rarresfpv/3d06525b959c53a62bda92f3e4e2e227e4a07d5d/poze/Ellipse%203.svg" alt="" class="profile">
   <h3 class="ImageTitle2">provided</h3>
     </div>
    </header>


    <main>
        <% let x = 1; %>
   <section class="visibleImages">
<% for(let servici of services){ %>
    <% if (x % 2 === 1) { %>
        <div class="twoImgRow">
    <% } %>
    
    <div class="img2">
     <a class="imagesLink" href="/services/<%= servici._id %>">
      <div class="textAndButton1">
        <h1 class="img2Text border-bottom border-2 border-light-subtle">
          <%= servici.name.length > 15 ? servici.name.substring(0, 10) + '...' : servici.name %>
        </h1>
        <p class="dummy"></p>
        </div>
       <img class="picture" src="<%=servici.images[0].url %>" alt="">
       <div class="textAndButton2">
        <p class="dummy2"></p>
        <button class="img2Button">&rarr;</button>
        </div>
       </a>
    </div>
    <% if (x % 2 === 0) { %>
        </div> <!-- Close twoImgRow div -->
    <% }x++; %>

    <% } %>
   </section>





    <div class="letsWork">
        <div>
            <h2 class="proposal">Lets work together</h2>
             <button class="contact-link"><a id="contactButton" href="/contact">contact me</a></button>
            </div>
         <div></div>
     </div>


<div class="container-fluid" id="footer">
  <p class="footerText">2024 © Rarrrres FPV - All rights reserved</p>

    <div class="social">
     <a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
     <a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717561720/poze%20site/icons8-tiktok_1_qfhugu.svg" alt="" id="media" class="media"></a>
     <a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
    </div>
</div>
          
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/javascripts/services.js"></script>
</body>
</html>